<!DOCTYPE html>
<html>
    <head>
        <title>Patient Lookup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    </head>
    <body>
        <h2>Patient Lookup</h2>

        <form action="{{ url_for('lookup') }}" method="POST">
            <input type="text" name="form_id", value="lookup" hidden>

            <input type="text" name="client" pattern="[a-zA-Z].* [a-zA-Z].*" title="Please Insert a First and Last Name.">
            <label for="client">Client:</label><br><br>

            <input type="date" name="date">
            <label for="date">Date:</label><br><br>
        </form>
    </body>
</html>